<div class="container text-center">
    <h2>Про додаток</h2>
    <img src="images/logo.png" alt="Логотип" class="img-fluid mb-3">
    <p>LiveCalculator — це зручний і багатофункціональний калькулятор, створений для всіх ваших обчислювальних потреб. Наш додаток пропонує два режими роботи: звичайний режим для простих обчислень і режим для програмістів з розширеними функціями, такими як побітові операції, конвертація чисел між різними системами числення (десяткова, шістнадцяткова, двійкова) та багато іншого. Додаток має інтуїтивно зрозумілий інтерфейс, що робить його ідеальним вибором як для студентів, так і для професіоналів.</p>
</div>