<div class="container">
    <h2>Профіль користувача</h2>
    <p><strong>Ім'я:</strong> @MVCWebLab2.Controllers.HomeController.User.Name</p>
    <p><strong>Електронна пошта:</strong> @MVCWebLab2.Controllers.HomeController.User.Email</p>
    <p><strong>Дата народження:</strong> @MVCWebLab2.Controllers.HomeController.User.Birthday.ToShortDateString()</p>
    <p><strong>Стать:</strong> @MVCWebLab2.Controllers.HomeController.User.Gender</p>
</div>